.content-plate {
  width: 1440px;
  margin: auto;
}

.first {
  height: 1064;
}

.first-preview-image {
  width: 640px;
  height: 800px;
  border-radius: 10px;
}

.content-title {
  margin: auto;
  height: 268px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 736px;
  height: 140px;
  justify-content: space-around;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  width: max-content;
}

.gray {
  color: #777e91;
}

.label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.01em;
  width: max-content;
  color: #23262f;
}

.first-block {
  height: 1064px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.preview-card {
  width: 352px;
  height: 752px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.preview-card-title {
  display: flex;
  flex-direction: column;
}

.preview-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #23262f;
}

.field-logo {
  border-radius: 50%;
}

.details {
  width: 160px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detail-field {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.preview-details {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-bid {
  width: 352px;
  height: 296px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #fcfcfd;
  border: 2px solid #e6e8ec;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}

.bid {
  height: 112px;
  width: 198px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bid-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23262f;
}

.bid-price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #141416;
}

.bid-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #777e91;
}

.auction {
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auction-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23262f;
}

.auction-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #141416;
}

.time-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #777e91;
}
